<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美食网</title>
</head>

<link rel="Shortcut Icon" href="/static/ico/ico01.ico" type="image/x-icon" />

<link rel="stylesheet" href="/static/Nivo-Slider-jQuery-master/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/Nivo-Slider-jQuery-master/themes/light/light.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/Nivo-Slider-jQuery-master/themes/dark/dark.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/Nivo-Slider-jQuery-master/themes/bar/bar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/Nivo-Slider-jQuery-master/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/Nivo-Slider-jQuery-master/demo/style.css" type="text/css" media="screen" />


<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<body>
<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
<script type="text/javascript" src="/static/js/sweetalert-dev.js"></script>
<script src="/static/js/jquery-1.11.3.js"></script>
   <div id="nav">
                <select>
                    <option value ="Bz">北京</option>
                    <option value ="Nz">南京</option>
                    <option value="Ty">太原</option>
                    <option value="Cd">成都</option>
                </select>
                <div id="nav_lz">
                <a href="http://127.0.0.1:8000/user/login.html" id="log1">登录</a>
                <a href="http://127.0.0.1:8000/registers">注册</a>
                <a id="out">登出</a>
                </div>
            </div>

            <div id="md_s">
            <input type="text" placeholder="请输入你要搜索的美食" id="i_1">
            <button id="s_1">搜索</button>
            </div>
            <img  id="log" src="/static/ico/logo.png" alt="">
            <div id="middle">
                <div id="images">
                <div id="wrapper">
                    <div class="slider-wrapper theme-default">
                        <div id="slider" class="nivoSlider">
                            <img src="/static/index/main.png" />
                            <img src="/static/index/main2.png" />
                            <img src="/static/index/main3.png" />
                            <img src="/static/index/main4.png"/>
                            <img src="/static/index/main5.png"/>
                            <img src="/static/index/main6.png"/>
                            <img src="/static/index/main7.png"/>
                            <img src="/static/index/main8.png"/>
                        </div>
                </div>
            </div>
       </div>
            </div>
            <div id="main">
            <div id ="main_1">
                <h3>美食</h3>
                <hr>
                <ul>
                    <li><button  name="type"  value="noodles">粉面粥店</button></li>
                    <li><button  name="type"  value="rice">简餐便当</button></li>
                    <li><button  name="type" value="piza">汉堡披萨</button></li>
                    <li><button  name="type" value="chaffy_dish">香锅冒菜</button></li>
                    <li><button  name="type" value="snack">小吃炸串</button></li>
                    <li><button  name="type" value="place">地方菜系</button></li>
                    <li><button  name="type" value="arrange">日韩料理</button></li>
                    <li><button  name="type" value="soft">轻食简餐</button></li>
                </ul>
            </div>
            <div id="main_2">
                <div id="one">

                    <span id="pai">根据排行选择美食</span>
                    <div id="pai1">
                    <a id="sales">销量</a>
                    <a id="good">好评</a>
                    <a id="area">距离</a>
                    </div>

                </div>
                <div class="two">
                    <div class="two_1">
                    <img src="/static/upload/stores/noodle/japan.jpg" alt="" class="cli">
                    <div class="two_2">
                    <a href="">商家名称:</a>
                    <ul>
                        <li>商家地址：</li>
                        <li>商家评分：</li>
                        <li>商家销量：</li>
                    </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>


<script src="/static/Nivo-Slider-jQuery-master/demo/scripts/jquery-1.9.0.min.js"></script>
    <script src="/static/Nivo-Slider-jQuery-master/jquery.nivo.slider.js"></script>
<script src="/static/js/search.js"></script>
<script src="/static/js/noodels.js"></script>
<script src="/static/js/nivo.js"></script>
<script src="/static/js/nav_sec.js"></script>
<script src="/static/js/imgcli.js"></script>
</body>
</html>