<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="/static/css/login.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
<script type="text/javascript" src="/static/js/sweetalert-dev.js"></script>
<body>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <img src="/static/index/registers.png" alt="" id="login">
        <div id="log">
            <h3>美食美客</h3>
            <div id="from">
                <div id="login_line">
                <div>
                    <input type="text" name="username" id="username" placeholder="请输入用户名">
                </div>
                <div>
                    <span onclick="weibo()">微博登录</span>
                </div>
                <div>
                    <input type="password" name="userps" id="userps" placeholder="请输入密码">
                </div>

                <div>
                    <input type="submit" value="登录" id="su">
                </div>
            </div>
            </div>
        </div>

<script src="/static/js/login.js">


</script>


</body>
</html>