<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/static/css/makestore.css">
<script src="/static/js/jquery-2.1.1.min.js"></script>
<body>
<div id="nav">
                <img src="/static/inside/标题logo.png" alt="">
                <div id="nav_1">
                <a href="http://127.0.0.1:8000/index">返回首页</a>
                <a href="http://127.0.0.1:8000/order/">我的订单</a>
                <a href="">加盟合作</a>
                <a href="">我的客服</a>
                </div>

                <div id="nav_2">
                    <a href="">个人中心</a>
                    <a href="">订餐热线</a>
                </div>
            </div>
        <div id="status"></div>
        <span>商品制作中请耐心等待......</span>
        <progress value="0" max="100" id="pro">
        </progress>
        <div id ="all">
                <div id="left"></div>
                <div id="right"></div>
                <div  id="bottom"></div>
                </div>
                <div id="test">

        </div>
       <script src="/static/js/makestore.js"></script>
        <script src="/static/js/order_send.js"></script>
</body>

</html>