<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<link href="/static/css/registers.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">



<body>
<script type="text/javascript" src="/static/js/sweetalert-dev.js"></script>
<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <img src="/static/index/Rising Mist at .jpg" alt="" id="login">
    <div id="log">
        <h3>美食美客</h3>
        <div id="fom">
            <div id="login_line">
            <div>
                <input type="text" name="username" id="username" placeholder="请输入注册用户名">

            </div>
            <div >
                <input type="password" name="password_1" id="userps1" placeholder="请输入密码">
                <input type="password" name="password_2" id="userps" placeholder="请再次输入密码">
            </div>
                <input type="text" placeholder="请输入验证码" name="phone" id="chec">

            <div>
                <input  type="submit" value="注册" id="su">
            </div>
        </div>
        </div>
        <button   id="chec_bu" >发送验证码</button>
    </div>
    <script src="/static/js/common.js"></script>
 <script src="/static/js/registers.js"></script>
</body>
</html>